# Entorno virtual
.venv/
venv/
env/

# Archivos de caché de FastF1
data/cache/
cache/

# Archivos de Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Configuración de editores/IDE
.vscode/
.idea/

# Salidas del proyecto
output/
